svg.map{
    background-color: #e3f6fc;
}

g{
}

path{
    display: block;
}

path.scotland{
    display: block;
    stroke: none;
    fill: #5cad9f;
}

path.river{
    fill: none;
    stroke-width: 0.9;
    stroke: #10678c;
    display: block;
}

circle{
    stroke-width: 0.5;
    stroke: white;
}

path.radial{
    fill: #ddd6c0;
    display: block;
}

path.radialcluster, path.radialoverall{
    display: block;
}

text.radiallabel{
    fill: black;
}

div.information{
    width: 30%;
    float: left;
}

div.information > table{
}

div.information > svg{
}

